<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add new blog page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
            <label for="cover-image" class="form-label">Cover Image</label>
             <input type="file" class="form-control" id="cover-image" aria-describedby="title" name="cover-image"/>
             </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
             <input type="text" class="form-control" id="title" aria-describedby="title" name="title"/>
             </div>
             <div class="mb-3">
                 <label for="body" class="form-label">Title</label>
                 <textarea  name="body" class="form-control" placeholder="Write your blog here" id="body" style="height: 100px"></textarea>
                 </div>
                 <div class="mb-3">
                    <button type="submit" class="btn btn-primary">submit</button>
                  </div>
                         
        </form>
    </div>
    <%- include('./partials/scripts') %>
    
</body>
</html>